[Unit]
Description=status writer system service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/scripts/statusWriter.bsh
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
