[Unit]
Description=Run /scripts/cronjobs.bsh shutdown at shutdown
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/scripts/cronjobs.bsh shutdown

[Install]
WantedBy=multi-user.target
