[Unit]
Description=PDF Printer Service
 
[Service]
Type=simple
ExecStart=/bin/bash /scripts/pdf-printer.bsh
Restart=on-failure
RestartSec=5s
 
[Install]
WantedBy=multi-user.target
