[Unit]
Description=watches the ssh rev tunnel and restarts the corresponding service
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/scripts/ssh-rev-tunnel-watchdog.bsh --needs-sudo
KillMode=process
TimeoutSec=30
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target